######################################################################
# System updates
######################################################################
# setuptools>=40.8.0
setuptools==61.1.1
wheel==0.37.1
pip==22.0.4
